#table td:nth-of-type(1) { width:5%;}
#table td:nth-of-type(2) { width:10%;}
#table td:nth-of-type(3) { width:25%;}

#table td:nth-of-type(7) { width:30px; text-align: center; }
#table td:nth-of-type(8) { width:30px; text-align: center; }
#table td:nth-of-type(9) { width:30px; text-align: center; }

#apihelphead a{
    margin: 0 15px;
}
#edit-rule table td:nth-of-type(1) { width:10%;}
#edit-rule table td:nth-of-type(2) { width:90%;}
#blocks-programmer{
    position:relative;
    height:550px;
    width:80%;
}
#world{
    outline-style: none;    
}

.like-link{
    cursor:pointer;
    color:#08c;
    text-decoration:none;
    margin: 0 15px;
}
.like-link:hover, .like-link:focus{
    color:#005580;
    text-decoration:underline
}

.test_rule table{
    margin-top:25px;
    width: 30%;
    min-width:300px
}
#test-rule{
    margin-top:60px;
}